.chart {
    flex: 4;
    box-shadow: 4px 5px 15px -7px rgba(0,0,0,0.69);
    -webkit-box-shadow: 3px 5px 15px -7px rgba(0,0,0,0.69);
    -moz-box-shadow: 3px 5px 15px -7px rgba(0,0,0,0.69);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

}